In [80]:
import pandas as pd
import numpy as np

df = pd.read_csv('Names for Arliss.csv')
df1 = pd.read_csv('Names for Arliss.csv')
df['AE Name'] = df['AE Name'].str.replace(' ','')
df['email'] = df['AE Name'] + '@iheartmedia.com'
df['email'].str.lower()
df1 = df1.rename(columns = {'AE Name': 'name'})
original = df1['name']
df = df.join(original)
new = df["name"].str.split(" ", n = 1, expand = True) 
df['first'] = new[0]
df = df.drop('Unnamed: 1', 1)
df = df.drop('AE Name', 1)

df.head()

                            email             name     first
0   SarahSteckler@iheartmedia.com   Sarah Steckler     Sarah
1   YeseniaTorres@iheartmedia.com   Yesenia Torres   Yesenia
2  JenniferOsborn@iheartmedia.com  Jennifer Osborn  Jennifer
3   MistiChilders@iheartmedia.com   Misti Childers     Misti
4      PaulTaylor@iheartmedia.com      Paul Taylor      Paul

In [81]:
df.to_csv('names_and_emails.csv')